body
{
	margin: 5%;
	background-color:  #c8c8c8 ;
	text-align: justify;
	font-family: Roboto;
}

h1
{
	
    font-family: baskervville;
    text-align: center;
	font-size: 100px;
	font-weight: bold;
}

a
{
	color: #cf0025;
	font-weight: bold;
}

figure
{
	background-color:  #333;
	color: white;
	margin: 0;
	margin-top: 10px;
	padding: 2%;
	border: 3px solid;
	border-color: #cf0025;
	border-radius: 10px;
	width:95%;
	height:49%;
}

figcaption
{
	font-weight: bold;
	text-align: center;
}

img 
{
	width:100%;
	height:100%;
}

table
{
	border-collapse: collapse;
	margin-bottom: 2%;
}

thead th
{
	background-color: #333;
	text-align: center;
	color: white;
}

tr:nth-child(even) 
{
	background-color: #c8c8c8;
}

tr:nth-child(odd) 
{
	background-color: #ddd;
}

tr:hover
{
	background-color: #999; 
	cursor: pointer;
}
blockquote{
	font-style: italic;
}
figcaption
{
	font-style: italic;
}
.etape
{
 	color: red;
	font-family: baskervville;
	font-weight: bolder;

}

.title
{
	text-align: center;
	font-size: 60px;
	color:black;
	font-weight: 900;

}

.customer_paragraph
{
	background-color:  #b7b7b7;
	border: 3px ;
	border-color: #5448ae;
	border-style: dashed;
	padding: 20px;
	margin: 20px;
}

.customer_paragraph p
{
	color: #5448ae;
	font-size: 20px;
	line-height: 30px;
	margin: 20px;
	margin-top: 0 ; 
	margin-bottom: 0;
}